html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* centrar el contenedor contenedor-principal */
  display: flex;
  justify-content: center;
  overflow: hidden; 
  background-color: #332F2B;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor-principal { 
  /* Contenedor principal que ocupa toda la pantalla y encapsula 
  todo el contenido de la web */
  width: calc(100vw - 4rem);
  max-width: 1600px;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  background-color: #1E1E1E;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  box-sizing: border-box;
  overflow-y: auto; /* solo scroll si de verdad hay mucho contenido */
}

.contenedor-pagina { 
  /* Contenedor con el contenido principal de la pestaña seleccionada*/
  margin-top: 1rem;
  border-radius: 16px;
  flex: 1;
  overflow-y: hidden; /* Evita que el contenedor general haga scroll */
  background-color: #423F3C;
}

/* Scrollbar general */
.ventana-contenido::-webkit-scrollbar {
  width: 8px; /* más fina */
}

/* Track (el fondo de la scrollbar) */
.ventana-contenido::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px 0; /* elimina flechas arriba y abajo dejando un hueco */
}

/* Thumb (la parte que se mueve) */
.ventana-contenido::-webkit-scrollbar-thumb {
  background-color: #888; /* color gris medio */
  border-radius: 8px;      /* bordes redondeados */
}

/* Hover para el thumb */
.ventana-contenido::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* un poco más claro al pasar el ratón */
}